@page
@{
    // Clear session
    HttpContext.Session.Clear();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/Login">
</head>
<body>
    <p>Logging out...</p>
</body>
</html>
